body{
    margin:0;
    height:100vh;
}

.container{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    align-items:center;

    position:relative;
}
.speech-bubble{

    position:absolute;
    top:12vh;

    width:80%;

    padding:25px;

    text-align:center;

    font-size:2rem;

    border-radius:999px;

}
.character{

    position:absolute;

    width:65vw;
    max-width:450px;

    bottom:10vh;
}
